<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Vue Bootstrap-vue Mongoose Swagger Axios Express Node MongoDB example</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@v2.0.0-rc.11/dist/bootstrap-vue.css" />

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@v2.0.0-rc.11/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <style>
    .list-group-item,
    .table td,
    .table th {
      padding: .5rem;
    }

    .my-0 {
      margin: .125rem 0 !important;
    }

    .m-0 {
      margin: .125rem !important;
    }

    .test1 {
      background-color: silver
    }

    .test2 {
      background-color: gray
    }
  </style>

  <style>
    .github-corner:hover .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {

      0%,
      100% {
        transform: rotate(0)
      }

      20%,
      60% {
        transform: rotate(-25deg)
      }

      40%,
      80% {
        transform: rotate(10deg)
      }
    }

    @media (max-width:500px) {
      .github-corner:hover .octo-arm {
        animation: none
      }

      .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
      }
    }
  </style>
</head>

<body>
  <div id="app">

    <a href="https://github.com/didactics/vue-mongodb-nodejs-example" class="github-corner"
      aria-label="View source on GitHub">
      <svg width="80" height="80" viewBox="0 0 250 250"
        style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path
          d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
          fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path
          d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
          fill="currentColor" class="octo-body">
        </path>
      </svg>
    </a>

    <b-jumbotron header="Vue + Node + MongoDB" lead="Vue Bootstrap-vue Mongoose Swagger Axios Express Node MongoDB example"
      bg-variant="info" text-variant="white" fluid class="text-center text-lg-left">
    </b-jumbotron>

    <!-- Clients form (main) -->
    <b-container>
      <b-row align-v="center" class="justify-content-md-center">
        <b-col cols="12" md="10">
          <b-navbar type="light" variant="light">

            <!-- Clients form caption -->
            <b-navbar-brand>Clients</b-navbar-brand>

            <!-- Clients filter -->
            <b-nav-form>
              <b-input-group prepend="Filter">
                <b-form-input v-model="clientFilter" placeholder="Type to search"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!clientFilter" @click="clientFilter = ''" variant="outline-secondary">
                    <i class="fas fa-eraser"></i>
                    Clear
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-nav-form>

            <!-- New Client button -->
            <b-navbar-nav right>
              <b-button variant="success" class="my-0" @click="showNewClientDialog" right>
                <i class="fas fa-plus"></i>
                New Client
              </b-button>
            </b-navbar-nav>
          </b-navbar>

          <!-- Clients table -->
          <b-table :items="model.clients" :fields="fields" :sort-desc=true bordered hover :filter="clientFilter"
            class="mt-2" @row-clicked="rowClicked" @row-dblclicked="showEditClientDialog" show-empty>
            <div slot="actions" slot-scope="row" class="text-center">

              <b-button variant="warning" class="my-0" @click="showEditClientDialog">
                <i class="far fa-edit"></i>
                Edit
              </b-button>

              <b-button v-b-modal.delete-client-confirm-dialog variant="danger" class="my-0">
                <i class="far fa-trash-alt"></i>
                Delete
              </b-button>

            </div>
          </b-table>

        </b-col>
      </b-row>
    </b-container>

    <!-- Dialogs -->

    <!-- New client dialog -->
    <b-modal v-model="newClientDialogVisible" size="lg" title="New Client" header-border-variant="success"
      ok-title="Add Client" centered @shown="focusRef($refs.nameRef)" @ok="addClient" ref="newClientDialog">

      <!-- <client-form></client-form> -->

      <b-form id="client-form">
        <b-form-row align-h="center">
          <b-col cols="11">
            <b-form-group horizontal label="Name:" :state="nameState" :invalid-feedback="nameInvalidFeedback"
              label-class="text-sm-right" label-for="name">
              <b-form-input id="name" :state="nameState" v-model.trim="model.client.name" ref="nameRef"
                placeholder="Client name"></b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Email:" :state="emailState" :invalid-feedback="emailInvalidFeedback"
              label-class="text-sm-right" label-for="email">
              <b-form-input id="email" :state="emailState" v-model.trim="model.client.email" placeholder="Client email">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Phone:" label-class="text-sm-right" label-for="phone">
              <b-form-input id="phone" v-model="clientPhone" :formatter="formatPhone" placeholder="Client phone">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Providers:" label-class="text-sm-right" label-for="phone">
              <b-form-row>
                <b-col cols="8" style="padding-right: 0.25em">
                  <b-form-input id="providers" v-model="model.providersStr" readonly></b-form-input>
                </b-col>
                <b-col cols="4" style="padding-left: 0">
                  <b-button id="new-provider-button-collapse" v-b-toggle.new-provider-collapse block variant="success"
                    :pressed="newProviderVisible">
                    <i v-if="!newProviderVisible" class="fas fa-plus"></i>
                    <i v-else class="fas fa-minus"></i>
                    New Provider
                  </b-button>
                </b-col>
                <b-col cols="12">
                  <b-collapse id="new-provider-collapse" v-model="newProviderVisible" class="mt-1"
                    @shown="focusRef($refs.newProviderRef)">
                    <b-card>
                      <b-form>
                        <b-form-group label="Name:" label-cols=2 label-class="text-sm-right" label-for="name" horizontal
                          description="Enter a name for the new provider" invalid-feedback="This field is required">
                          <b-form-input id="name" v-model="newProviderName" ref="newProviderRef" type="text"
                            placeholder="New provider name"></b-form-input>
                        </b-form-group>
                        <b-button class="ml-1 float-right" :disabled="!newProviderName" variant="primary"
                          @click="addProvider">
                          Add Provider
                        </b-button>
                      </b-form>
                    </b-card>
                  </b-collapse>
                </b-col>

                <!-- Providers list -->
                <b-col cols="8" class="mt-1" style="padding-right: 0.25em">
                  <b-card no-body>

                    <b-list-group class="mt-1" flush>

                      <b-list-group-item v-for="(provider, index) in model.providers" :key="provider.id">
                        <b-form-row>

                          <!-- Checkbox -->
                          <b-col class="align-self-center" block>
                            <b-form-checkbox :id="`checkbox${provider.id}`" v-show="!provider.editing"
                              :value="provider.id" v-model="selectedProviders">
                              {{provider.name}}
                            </b-form-checkbox>
                          </b-col>

                          <!-- Toggle buttons -->
                          <b-col class="text-right col-auto">

                            <!-- Edit provider button -->
                            <b-button v-b-tooltip.hover title="Edit this provider" class="my-0" variant="warning"
                              :pressed="provider.editing" v-b-toggle="`edit-provider-collapse-${provider.id}`">
                              <i class="far fa-edit"></i>
                            </b-button>

                            <!-- Delete provider button -->
                            <b-button v-b-tooltip.hover title="Delete this provider" class="my-0" variant="danger"
                              :pressed="provider.deleting" v-b-toggle="`delete-provider-collapse-${provider.id}`">
                              <i class="far fa-trash-alt"></i>
                            </b-button>

                          </b-col>

                          <b-col cols="12">

                            <!-- Edit provider collapse -->
                            <b-collapse :id="`edit-provider-collapse-${provider.id}`" v-model="provider.editing"
                              accordion="providers" class="mt-1"
                              @shown="focusArrayRef(&apos;editProviderNameRef' + provider.id + '&apos;)">
                              <b-form>

                                <b-form-group label="Name:" label-class="text-sm-right" label-for="name" horizontal
                                  :description="`Enter a new name for ${provider.name}`"
                                  invalid-feedback="This field is required">
                                  <b-form-input :id="`provider-name-${provider.id}`"
                                    :ref="'editProviderNameRef' + provider.id" v-model="provider.newName" type="text"
                                    :placeholder="`New name for ${provider.name}`"></b-form-input>
                                </b-form-group>

                                <b-button class="ml-1 float-right"
                                  :disabled="!provider.newName || (provider.newName === provider.name)"
                                  variant="primary" @click="updateProvider(provider)">
                                  Set Name
                                </b-button>

                              </b-form>
                            </b-collapse>

                            <!-- Delete provider collapse -->
                            <b-collapse :id="`delete-provider-collapse-${provider.id}`" v-model="provider.deleting"
                              accordion="providers" class="mt-1">
                              <b-alert show variant="danger">
                                Are you sure to delete {{provider.name}}?
                                <div class="text-right">
                                  <b-button variant="secondary" @click="provider.deleting=false">
                                    No
                                  </b-button>
                                  <b-button variant="primary" @click="deleteProvider(provider.id)">
                                    Yes
                                  </b-button>
                                </div>
                              </b-alert>
                            </b-collapse>

                          </b-col>

                        </b-form-row>
                      </b-list-group-item>

                    </b-list-group>
                  </b-card>
                </b-col>
              </b-form-row>

            </b-form-group>

          </b-col>
        </b-form-row>
      </b-form>

    </b-modal>

    <!-- Edit client dialog -->
    <b-modal v-model="editClientDialogVisible" size="lg" title="Edit Client" header-border-variant="warning" centered
      @shown="focusRef($refs.nameRef)" @ok="updateClient" ref="editClientDialog">

      <!-- <client-form></client-form> -->

      <b-form id="client-form">
        <b-form-row align-h="center">
          <b-col cols="11">
            <b-form-group horizontal label="Name:" :state="nameState" :invalid-feedback="nameInvalidFeedback"
              label-class="text-sm-right" label-for="name">
              <b-form-input id="name" :state="nameState" v-model.trim="model.client.name" ref="nameRef"
                placeholder="Client name"></b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Email:" :state="emailState" :invalid-feedback="emailInvalidFeedback"
              label-class="text-sm-right" label-for="email">
              <b-form-input id="email" :state="emailState" v-model.trim="model.client.email" placeholder="Client email">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Phone:" label-class="text-sm-right" label-for="phone">
              <b-form-input id="phone" v-model="clientPhone" :formatter="formatPhone" placeholder="Client phone">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Providers:" label-class="text-sm-right" label-for="phone">
              <b-form-row>
                <b-col cols="8" style="padding-right: 0.25em">
                  <b-form-input id="providers" v-model="model.providersStr" readonly></b-form-input>
                </b-col>
                <b-col cols="4" style="padding-left: 0">
                  <b-button id="new-provider-button-collapse" v-b-toggle.new-provider-collapse block variant="success"
                    :pressed="newProviderVisible">
                    <i v-if="!newProviderVisible" class="fas fa-plus"></i>
                    <i v-else class="fas fa-minus"></i>
                    New Provider
                  </b-button>
                </b-col>
                <b-col cols="12">
                  <b-collapse id="new-provider-collapse" v-model="newProviderVisible" class="mt-1"
                    @shown="focusRef($refs.newProviderRef)">
                    <b-card>
                      <b-form>
                        <b-form-group label="Name:" label-cols=2 label-class="text-sm-right" label-for="name" horizontal
                          description="Enter a name for the new provider" invalid-feedback="This field is required">
                          <b-form-input id="name" v-model="newProviderName" ref="newProviderRef" type="text"
                            placeholder="New provider name"></b-form-input>
                        </b-form-group>
                        <b-button class="ml-1 float-right" :disabled="!newProviderName" variant="primary"
                          @click="addProvider">
                          Add Provider
                        </b-button>
                      </b-form>
                    </b-card>
                  </b-collapse>
                </b-col>

                <!-- Providers list -->
                <b-col cols="8" class="mt-1" style="padding-right: 0.25em">
                  <b-card no-body>

                    <b-list-group class="mt-1" flush>

                      <b-list-group-item v-for="(provider, index) in model.providers" :key="provider.id">
                        <b-form-row>

                          <!-- Checkbox -->
                          <b-col class="align-self-center" block>
                            <b-form-checkbox :id="`checkbox${provider.id}`" v-show="!provider.editing"
                              :value="provider.id" v-model="selectedProviders">
                              {{provider.name}}
                            </b-form-checkbox>
                          </b-col>

                          <!-- Toggle buttons -->
                          <b-col class="text-right col-auto">

                            <!-- Edit provider button -->
                            <b-button v-b-tooltip.hover title="Edit this provider" class="my-0" variant="warning"
                              :pressed="provider.editing" v-b-toggle="`edit-provider-collapse-${provider.id}`">
                              <i class="far fa-edit"></i>
                            </b-button>

                            <!-- Delete provider button -->
                            <b-button v-b-tooltip.hover title="Delete this provider" class="my-0" variant="danger"
                              :pressed="provider.deleting" v-b-toggle="`delete-provider-collapse-${provider.id}`">
                              <i class="far fa-trash-alt"></i>
                            </b-button>

                          </b-col>

                          <b-col cols="12">

                            <!-- Edit provider collapse -->
                            <b-collapse :id="`edit-provider-collapse-${provider.id}`" v-model="provider.editing"
                              accordion="providers" class="mt-1"
                              @shown="focusArrayRef(&apos;editProviderNameRef' + provider.id + '&apos;)">
                              <b-form>

                                <b-form-group label="Name:" label-class="text-sm-right" label-for="name" horizontal
                                  :description="`Enter a new name for ${provider.name}`"
                                  invalid-feedback="This field is required">
                                  <b-form-input :id="`provider-name-${provider.id}`"
                                    :ref="'editProviderNameRef' + provider.id" v-model="provider.newName" type="text"
                                    :placeholder="`New name for ${provider.name}`"></b-form-input>
                                </b-form-group>

                                <b-button class="ml-1 float-right"
                                  :disabled="!provider.newName || (provider.newName === provider.name)"
                                  variant="primary" @click="updateProvider(provider)">
                                  Set Name
                                </b-button>

                              </b-form>
                            </b-collapse>

                            <!-- Delete provider collapse -->
                            <b-collapse :id="`delete-provider-collapse-${provider.id}`" v-model="provider.deleting"
                              accordion="providers" class="mt-1">
                              <b-alert show variant="danger">
                                Are you sure to delete {{provider.name}}?
                                <div class="text-right">
                                  <b-button variant="secondary" @click="provider.deleting=false">
                                    No
                                  </b-button>
                                  <b-button variant="primary" @click="deleteProvider(provider.id)">
                                    Yes
                                  </b-button>
                                </div>
                              </b-alert>
                            </b-collapse>

                          </b-col>

                        </b-form-row>
                      </b-list-group-item>

                    </b-list-group>
                  </b-card>
                </b-col>
              </b-form-row>
            </b-form-group>

          </b-col>
        </b-form-row>
      </b-form>

      <div slot="modal-footer" class="w-100">
        <b-row>
          <b-col>
            <b-form inline>
              <b-button variant="danger" v-b-toggle.delete-client-collapse :pressed="clientDeleting">
                Delete Client
              </b-button>
              <!-- Delete client collapse -->
              <b-collapse id="delete-client-collapse" v-model="clientDeleting" class="mt-2 ml-sm-2">
                <b-alert show variant="danger">
                  Are you sure to delete {{model.client.name}}?
                  <div class="text-right">
                    <b-button variant="secondary" @click="clientDeleting=false">
                      No
                    </b-button>
                    <b-button variant="primary" @click="deleteClient(model.clientId)">
                      Yes
                    </b-button>
                  </div>
                </b-alert>
              </b-collapse>
          </b-col>
          <b-col cols="5" class="align-self-center">
            <b-button class="float-right m-0" variant="primary" @click="updateClient">
              Save Client
            </b-button>

            <b-button class="float-right m-0" variant="secondary" @click="editClientDialogVisible=false">
              Cancel
            </b-button>
          </b-col>
        </b-row>
        </b-form>
      </div>
    </b-modal>

    <!-- Delete client confirm dialog -->
    <b-modal id="delete-client-confirm-dialog" title="Delete Client" centered header-border-variant="danger"
      cancel-title="No" ok-title="Yes" @ok="deleteClient(model.clientId)">
      <!-- model.client is set in the table's @row-clicked="rowClicked" handler -->
      Are you sure to delete {{model.client.name}}?
    </b-modal>

  </div>

  <script src="./vue.js"></script>
</body>

</html>